@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Vítejte v Logistické kalkulačce</h1>
            <p>
                Jedná se o nástroj pro výpočet logistiky, který vám pomůže s různými výpočty souvisejícími s logistikou.
                Z níže uvedených možností vyberte nástroj, který chcete použít:
            </p>
        </div>
    </div>
    <div class="row" style="margin-top: 30px">
        <div class="col-md-6 text-center">
            <h3>Optimální Objednávací Dávka [Qopt]</h3>
            <p>
                Výpočet optimální velikosti objednávky na základě různých parametrů, jako je poptávka, náklady na držení a náklady na objednání.
            </p>
            <a href="~/Forms/Qopt" class="btn btn-primary">Přejit na výpočet Optimální dávky</a>
        </div>
        <div class="col-md-6 text-center">
            <h3>Analýza Zásob</h3>
            <p>
                Analyzujte stavy zásob a skladových zásob a určete optimální bezpečnostní zásoby a body doobjednání.
            </p>
            <a href="~/Forms/AnalyzaZasob" class="btn btn-primary">Přejít na Analýza zásob</a>
        </div>
        <div class="col-md-6 text-center" style="margin-top: 30px">
            <h3>Průběžná doba</h3>
            <p>
                Výpočet potřebné doby k dokončení procesu od začátku do konce.
            </p>
            <a href="~/Forms/PrubeznaDoba" class="btn btn-primary">Přejít na Průběžnou dobu</a>
        </div>
        <div class="col-md-6 text-center" style="margin-top: 30px">
            <h3>Zamestnanci a Pracoviště (Work in progress)</h3>
            <p>
                1:N MSSQL Databáze zaměstnanců a jejich pracovišť používající Entity Framework Core.
            </p>
            <a href="~/Forms/Zamestnanci" class="btn btn-primary">Přejít na Zaměstnanci a Pracoviště</a>
        </div>
    </div>
</div>