@model PrubeznaDobaModel

<head>
    <script src="~/js/PrubeznaDobaJQuery.js"></script>
</head>

<div class="container my-5">
    <div class="row">
        <!-- Input section -->
        <div class="col-md-6">
            <h2 class="mb-4">Vstup</h2>
            <div class="card" style="height: 600px; width: 100%;">
                <div class="card-body" style="overflow-y: auto">
                    <div class="table-responsive">
                        <table id="prubeznaDobaVstup" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Pracoviště</th>
                                    <th>Čas Operační (Tk)</th>
                                    <th>Čas Nastavovací (Tpz)</th>
                                    <th>Čas Mezioperační (Tm)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Řadky se přidají dynamicky -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button id="pridatPracovisteBtn" class="btn btn-primary btn-block form-control">Přidat pracoviště</button>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button id="odebratPracovisteBtn" class="btn btn-primary btn-block form-control">Odebrat pracoviště</button>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button id="vypocitatPrubeznouDobuBtn" class="btn btn-primary btn-block form-control">Vypočítat</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="SystemZpracovani">Systemy:</label>
                        <select asp-for="SystemZpracovani" id="SystemZpracovani" class="form-control">
                            <option value="0">Souběžné předávání jednotlivě</option>
                            <option value="1">Souběžné předávání v dávkách, seřizování překryté</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="DavkaQ">Davka[Q]:</label>
                        <input asp-for="DavkaQ" type="text" id="DavkaQ" class="form-control">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="DavkaQd">Davka[Qd]:</label>
                        <input asp-for="DavkaQd" type="text" id="DavkaQd" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <!-- Output section -->
        <div class="col-md-6">
            <h2 class="mb-4">Výstup</h2>
            <div class="card" style="height: 600px; width: 100%;">
                <div class="card-body" style="overflow-y: auto">
                    <table id="prubeznaDobaVystup" class="table table-responsive">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>System</th>
                                <th>Průběžná doba (minuty)</th>
                                <th>Počet Pracovišť</th>
                                <th>Počet zaměstnanců</th>
                                <th>DavkaQ</th>
                                <th>DavkaQD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Řadky se přidají dynamicky -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>