@model QoptModel
@{
    
}
<div class="container my-5">
    <div class="row">
        <!-- Input section -->
        <div class="col-md-6">
            <h2 class="mb-4">Vstup</h2>
            <form asp-action="QoptVypocet", method="post">
                <div class="mb-3">
                    <label asp-for="VelikostPoptavky" class="form-label">Celková velikost úkolu/poptávky za období [D]:</label>
                    <input asp-for="VelikostPoptavky" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Npz" class="form-label">Náklady pro jednu dávku (CZK) [Npz]:</label>
                    <input asp-for="Npz" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Ns" class="form-label">Celkové náklady na držení zásob (CZK) [Ns]:</label>
                    <input asp-for="Ns" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Nj" class="form-label">Naklady jednice v dávce (hodnota 1 pokud není jinak) [Nj]:</label>
                    <input asp-for="Nj" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Obdobi" class="form-label">Celková velikost úkolu/poptávky za období [D]:</label>
                    <input asp-for="Obdobi" type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Calculate</button>
            </form>
        </div>

        <!-- Output section -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="card" style="height: 350px; width: 100%; margin-top: 40px">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h2 class="card-title text-center">Výstup</h2>
                    <div class="mb-3">
                        <label class="form-label"><b>Qopt výsledek:</b></label>
                        <div id="systemy">@ViewBag.Qopt</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><b>Počet dávek:</b></label>
                        <div id="objednavaci-uroven">@ViewBag.PocetDavek</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><b>Periodicita zadávání:</b></label>
                        <div id="prumerna-zasoba">@ViewBag.PeriodicitaZadavani</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><b>Celkové náklady [CZK]:</b></label>
                        <div id="pocet-objednavek">@ViewBag.CelkoveNaklady</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>